<header class="head">
  <h1 class="logo">
    <a href="{{ "/" | prepend: absolute_url }}">
      <picture>
        <source srcset="{{ site.logo.svg-large | default: "/assets/images/logo-oria.svg" }}" media="(min-width: 58.125em)" type="image/svg+xml" />
        <source srcset="{{ site.logo.svg-small | default: "/assets/images/logo-oria.svg" }}" type="image/svg+xml" />
        <img src="{{ site.logo.png | default: "/assets/images/logo-oria.svg" }}" alt="{{ site.title }}">
      </picture>
    </a>
  </h1>

  <input id="burger" type="checkbox" />
  <label for="burger">
      <span></span>
      <span></span>
      <span></span>
  </label>

  <nav>
    <ul>
      {% for item in site.data.main-menu.items %}
      <li><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>

</header>
