<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="frontpage">

   {% include nav.html %}

    <main id="main-content">

      <article>

        <header>
          <h1>{{ site.title}}</h1>
          <p>{{ site.description }}</p>
          <img src="{{ "/assets/images/background.jpg" | relative_url }}" alt="">
        </header>

        {% for section in page.sections %}

          {% assign s = site.sections | where: "title", section | first %}
          {% include {{ s.type | append: ".html" }} item=s %}

        {% endfor %}

        <section class="team padding-1">
          {% include team.html %}
        </section>

        <section class="credits padding-1">
          {% include credits.html %}
        </section>

    </article>

    </main>

  </body>
</html>
